<a routerLink="..">Terug</a>
<a routerLink="content" *ngIf="Form.value.id">Content</a>
<form [formGroup]="Form">
  <div class="form-group">
    <label>Taal</label>
    <select formControlName="language">
      <option *ngFor="let language of languages" [value]="language.id">
        {{ language.name }}
      </option>
    </select>
    <div
      *ngIf="Form.controls.language.errors && Form.controls.language.touched"
    >
      <p *ngIf="Form.controls.language.errors['required']">
        Taal is verplicht.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label>Titel</label>
    <input
      type="text"
      class="form-control"
      placeholder="Titel"
      formControlName="title"
    />
    <div *ngIf="Form.controls.title.errors && Form.controls.title.touched">
      <p *ngIf="Form.controls.title.errors['required']">Titel is verplicht.</p>
    </div>
  </div>
  <div class="form-group">
    <label>Beschrijving</label>
    <textarea
      class="form-control"
      placeholder="Beschrijving"
      formControlName="description"
    ></textarea>
  </div>
  <a class="btn btn-primary" (click)="save()">Opslaan</a>
  <a (click)="deleteDetail()">Verwijderen</a>
</form>
