<a class="btn btn-secondary" routerLink="..">Terug</a>
<a class="btn btn-secondary mx-2" routerLink="details" *ngIf="Form.controls.id.value">Details</a>
<form [formGroup]="Form">
  <div class="form-group pt-2">
    <label>Slug</label>
    <input
      type="text"
      class="form-control"
      placeholder="Slug"
      formControlName="slug"
      (change)="validateUrl()"
    />
    <div *ngIf="Form.controls.slug.errors && Form.controls.slug.touched">
      <p *ngIf="Form.controls.slug.errors['required']">Slug is verplicht.</p>
    </div>
  </div>
  <div class="form-group pt-2">
    <label>Title</label>
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      formControlName="title"
      (change)="validateUrl()"
    />
    <div *ngIf="Form.controls.title.errors && Form.controls.title.touched">
      <p *ngIf="Form.controls.title.errors['required']">Title is verplicht.</p>
    </div>
  </div>
  <div class="form-group pt-2" *ngIf="Form.controls.id.value">
    <label>Images</label>
    <input
      class="form-control"
      type="file"
      accept="image/*"
      multiple="true"
      (change)="change($event)"
    />
    <div class="album mt-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let image of Images">
          <div class="card shadow-sm">
            <div class="card-img-top">
              <img [src]="image.location | media" />
            </div>
            <div class="card-body">
              <a (click)="deleteImage(image.id)" class="btn btn-danger">Verwijder</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <a class="btn btn-primary" (click)="save()">Opslaan</a>
    <a class="btn btn-danger mx-2" (click)="deleteProject()">Verwijder</a>
  </div>
</form>
