<a routerLink="..">Terug</a>
<form [formGroup]="Form">
  <div class="form-group">
    <label>Type</label>
    <select formControlName="type">
      <option *ngFor="let value of getTypeValues(); let i = index" [ngValue]="i">{{ value }}</option>
    </select>
  </div>
  <div>
    <label>Content</label>
    <textarea formControlName="content" *ngIf="Form.value.type === 0"></textarea>
    <input *ngIf="Form.value.type === 1 && Form.value.id" (change)="change($event)" type="file" accept="image/*" multiple="false" />
    <img *ngIf="Form.value.type === 1 && Form.value.id" [src]="Form.value.content | media" />
    <quill-editor formControlName="content" *ngIf="Form.value.type === 2"></quill-editor>
    <div *ngIf="Form.value.type === 3">
      <label>Text</label>
      <input formControlName="content" />
      <label>Link</label>
      <input formControlName="alt" />
    </div>
  </div>
  <a class="btn btn-primary" (click)="save()">Opslaan</a>
  <a class="btn btn-danger" (click)="deleteContent()">Verwijderen</a>
</form>
