section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 50vw;
  max-width: 350px;
  margin: auto;
}

.row {
  width: 100vw;
}

article:last-of-type {
  flex-grow: 1;
}

