// section {
//   padding: 20px;
//   margin: 20px;
// }

img {
  width: 50vw;
  max-width: 350px;
}

div {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

.scroll {
  max-height: 100%;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
