
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">
    <a routerLink="/home"><img src="assets/wout.png"></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="languages" routerLinkActive="active">Talen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="projects" routerLinkActive="active">Projecten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pages" routerLinkActive="active">Paginas</a>
      </li>
    </ul>
  </div>
</nav>
